# Node.js
node_modules/
build/
*.log

# Python
*.pyc
__pycache__/
venv/
.env

# Flask
instance/
*.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# React-specific
/.pnp
.pnp.js
/coverage
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*